@import "tailwindcss";

@layer base {
  mark {
    @apply bg-indigo-100 text-indigo-700 font-bold px-1 rounded;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-stone-300 rounded-full hover:bg-stone-400 transition-colors;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}